.User_Table{width : 1300px; height: 500px; border-bottom : 1px solid black;}
.User_Table th, .User_Table td {text-align: center;}
.table-top {width : 1300px; display : flex; justify-content: space-between;}
.button {width : 1300px; display : flex; justify-content: right;}
.table_page {width: 1300px; display : flex; justify-content: center;}
.table-top > form,.input-group {width:200px !important; display : flex;}